<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta viewport="device-default scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>KYAM</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">KYAM</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card" {min-width}>
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/1.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>NATURE</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">UGX.10,000</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/2.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>LANDSCAPE</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-0"></i> </span>
                </div>
                <div class="price">UGX.100,000</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/4.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>LANDSCAPE</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-0"></i> </span>
                </div>
                <div class="price">UGX.100,000</div>
              </div>
            </div>

            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/3.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>ABSTRACT</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half"></i> </span>
                </div>
                <div class="price">UGX.100,000</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/6.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>ABSTRACT</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-0"></i> </span>
                </div>
                <div class="price">UGX.100,000</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/7.jpg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>ABSTRACT</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">UGX.300,000</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
  </body>
</html>
